.content {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #264653;
}
p {
  color: #264653;
}

.intruction {
  color: rgba(38, 70, 83, 0.7);
  font-weight: lighter;
  margin-bottom: 6px;
}

.content .form-control {
  border-radius: 20px;
  padding: 10px 20px;
  border: 1px solid rgb(136, 136, 136);
}

.content button {
  margin-top: 1rem;
  border-radius: 50px;
  padding: 10px 50px;
  font-weight: bolder;
  background-color: #299ebc;
  border-color: #299ebc;
}

.auth-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .auth-container {
    flex-direction: column;
  }

  .auth-image {
    display: none;
    order: -1;
    margin-bottom: 20px;
    text-align: center;
  }
}
